.navbar-container {
    padding: 20px 0 20px 0;
    margin-bottom: 30px;
}

.navbar-container .main-navbar {
    margin-left: 80px;
}

.navbar-container .nav-elements {
    position: absolute;
    right: 300px;
}

.navbar-title {
    font-family: 'Anton', sans-serif;
    font-weight: normal;

}


.first-item {
    margin-left: 50px;

}

.second-item {
    margin-left: 50px;
}

.active {
    color: black;
}

.active:hover {
    color: #00b5ad;
}
